GenerateSalesOrder/TexasStressTest
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "GetCookie": {
                "inputs": {
                    "method": "POST",
                    "uri": "https://texasintegrationmaster.azurewebsites.net:443/api/GetSLCookie-QA/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=CCWWihQeQIw_U-uA5VTTwrT1w6gLgzyZVc9oSFuS_QY"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Until": {
                "actions": {
                    "CreateB1Order": {
                        "inputs": {
                            "body": {
                                "CardCode": "103896",
                                "DocDate": "2024-03-02T00:00:00Z",
                                "DocDueDate": "2024-03-01T00:00:00Z",
                                "DocumentLines": [
                                    {
                                        "ItemCode": "90066667",
                                        "Quantity": 1,
                                        "WarehouseCode": "01"
                                    }
                                ],
                                "U_DocTyp": "1",
                                "U_LogiaAction": "R",
                                "U_OrdrRet": "N",
                                "U_SenderCode": "1"
                            },
                            "cookie": "@body('GetCookie')",
                            "method": "POST",
                            "uri": "https://apsapb1sl.texas.dk:50000/b1s/v1/Orders"
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Increment_variable": {
                        "inputs": {
                            "name": "counter",
                            "value": 1
                        },
                        "runAfter": {
                            "CreateB1Order": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "IncrementVariable"
                    }
                },
                "expression": "@greater(variables('counter'),10)",
                "limit": {
                    "count": 10,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "counter": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Until"
            },
            "counter": {
                "inputs": {
                    "variables": [
                        {
                            "name": "counter",
                            "type": "integer",
                            "value": 1
                        }
                    ]
                },
                "runAfter": {
                    "GetCookie": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}
